<!DOCTYPE html>
<head>
    <title>
        Project CC
    </title>
</head>
<body>

<div class="menu">
    <a href="index.html">Home</a>
    <a href="register.html">Register</a>
    <a href="login.html">Login</a>
    <a href="about.html">About Us</a>
</div>
<div class="main">
    <form action="/login" method = "POST">
        Email: <br> <input type="email" name="email" required> <br>
        Password: <br> <input type="password" name="password" required> <br><br>
        <button type="submit"> Login </button>
    </form>
    <h3>{{ text }}</h3> <br>
</div>
<div class="footer">
    <p>Powered by Daniel Arteni since 2021. All rights reserved!</p>
</div>
</body>
</html>