<!DOCTYPE html>
<head>
    <title>
        Project CC
    </title>
</head>
<body>

<div class="menu">
    <a href="index.html">Home</a>
    <a href="register.html">Register</a>
    <a href="login.html">Login</a>
    <a href="about.html">About Us</a>
</div>
<div class="main">
    <form action="/register" method = "POST" enctype="multipart/form-data">
        Last Name: <br> <input type="text" name="lname" required> <br>
        First Name: <br> <input type="text" name="fname" required> <br>
        Address: <br> <input type="text" name="address" required> <br>
        Phone Number: <br> <input type="text" name="phone" required> <br>
        Email: <br> <input type="email" name="email" required> <br>
        Password: <br> <input type="password" name="password" required> <br>
        Image: <input type=file name="image" required> <br>
        <button type="submit"> Register </button>
    </form>

    <h3>{{ emailconfirm }}</h3> <br>
    <h3>{{ text }}</h3> <br>

</div>
<div class="footer">
    <p>Powered by Daniel Arteni since 2021. All rights reserved!</p>
</div>
</body>
</html>