<!DOCTYPE html>
<head>
    <title>
        Project CC
    </title>
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/style.css') }}"/>
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/menu.css') }}"/>
</head>
<body>

    <nav>
        <ul class="menu">
            <li><a href="index.html">Home</a></li>
            <li><a href="register.html">Sign In</a></li>
            <li><a href="login.html">Login</a></li>
            <li><a href="about.html">About Us</a></li>
        </ul>
    </nav>
    <div class="content">
        <div class="left">
            <img src="../images/ammo1.jpg" alt="Pistol" width="300" height="200">
            <img src="../images/auto2.jpg" alt="Pistol" width="300" height="200">

        </div>
        <div class="main">
            <h2>Login</h2> <br><br><br><br><br><br>
            <form action="/login" method = "POST">
                Email: <br> <input type="email" name="email" required> <br>
                Password: <br> <input type="password" name="password" required> <br><br>
                <button type="submit"> Login </button>
            </form>
            <h3>{{ text }}</h3>
        </div>
        <div class="right">
            <img src="../images/pistol3.jpg" alt="Pistol" width="300" height="500">
        </div>
    </div>
    <footer>
        <p>Powered by Daniel Arteni since 2021. All rights reserved!</p>
    </footer>
</body>
</html>